/target
target/generated-sources/kogito/org/acme/travels/Intrare_auto_cleProcess.java
target/generated-sources/kogito/org/acme/travels/Rules2E460E98FBDF296CF50748F35F942A65.java
target/generated-sources/kogito/org/acme/travels/DomainClassesMetadata2E460E98FBDF296CF50748F35F942A65.java
target/generated-sources/kogito/org/acme/travels/Intrare_auto_cleProcess.java
target/generated-sources/kogito/org/acme/travels/PersonsProcess.java
target/generated-sources/
target/
